# Python 缓存
__pycache__/
*.pyc
*.pyo
*.pyd

# LaTeX 所有中间文件
*.aux
*.log
*.toc
*.lof
*.lot
*.out
*.synctex.gz
*.bbl
*.blg
*.bcf
*.run.xml
*.fls
*.fdb_latexmk
*.dvi
*.ps
*.nav
*.snm
*.vrb

#不提交编译生成的pdf，每次本地自己编译
*.pdf
*.docx

# 系统/编辑器临时文件
.DS_Store
Thumbs.db
*.tmp
*.bak